@model TrainFinder.Domain.Entities.Train

@{
    ViewBag.Title = "Edytowanie";
}

<div class="panel">
    <h2>Edycja pociągu</h2>

    @using (Html.BeginForm("Save", "Admin"))
    {
        
        <div class="panel-body">
            @Html.HiddenFor(m => m.TrainID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "TrainID" && property.PropertyName != "Number")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "Status")
                        {

                            List<SelectListItem> listItems = new List<SelectListItem>();
                            listItems.Add(new SelectListItem
                            {
                                Text = "Punktualny",
                                Value = "Punktualny"
                            });
                            listItems.Add(new SelectListItem
                            {
                                Text = "Opóźniony",
                                Value = "Opóźniony"
                            });
                            @Html.DropDownListFor(model => model.Status, listItems, new { @class = "form-control" })
                       }
                       else if (property.PropertyName == "Arrival")
                       {
                            @Html.TextBoxFor(model => model.Arrival, new { type = "time", @class = "form-control" })
                       }
                       else if (property.PropertyName == "Departure")
                       {
                            @Html.TextBoxFor(model => model.Departure, new { type = "time", @class = "form-control" })
                       }
                       else
                       {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" });
                       }
                            @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
            }
        </div>
        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>


